* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  list-style: none;
  text-decoration: none;
}
.main-container {
  width: 100%;
  display: grid;
  grid-template-rows: 700px 400px 700px auto;
}
/* container 1 */
.cont-1 {
  display: flex;
  flex-direction: column;
  background-color: #003466;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
header {
  position: fixed;
  width: 100%;
  padding: 33px 9%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.cont-1 img {
  width: 544.5px;
  height: 350.25px;
  margin: auto;
}
.nav-list {
  display: flex;
  gap: 3rem;
  margin-left: 40%;
}
.nav-list > li > a {
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
  cursor: pointer;
}
.nav-list > li > a:hover {
  border-bottom: 2px solid white;
  /* transform: translateY(5px); */
}
.menu-icon {
  color: #001466;
  font-size: 30px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
/* container 2 */
.cont-2 {
  font-size: clamp(3rem, 5vw, 7rem);
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  color: #003466;
}
/* container 3 */
.cont-3 {
  background-image: url(./images/social\ m.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-size: clamp(2rem, 4vw, 67rem);
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  color: white;
}
/* container 4 */
.cont-4 {
  padding: 5px 8%;
}
.cont-4 > h1 {
  text-align: center;
  padding-top: 10%;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
}
.cont-4 > h1::after {
  content: "";
  background: #303ef7;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.service {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 16px;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
}
.service i {
  font-size: 40px;
  color: #003466;
}
.service h2 {
  font-weight: 600;
  margin-bottom: 8px;
}

.service:hover {
  color: white;
  transform: scale(2);
}
.service:hover i {
  color: white;
  transform: translateY(5px);
}
.service:nth-child(1):hover {
  background: linear-gradient(
      45deg,
      rgba(32, 89, 143, 0.525) 0%,
      rgba(0, 53, 102, 0.535) 100%
    ),
    url(./images/social.jpg);
  background-size: cover;
}
.service:nth-child(2):hover {
  background: linear-gradient(
      45deg,
      rgba(32, 89, 143, 0.525) 0%,
      rgba(0, 53, 102, 0.535) 100%
    ),
    url(./images/content.jpg);
  background-size: cover;
}
.service:nth-child(3):hover {
  background: linear-gradient(
      45deg,
      rgba(32, 89, 143, 0.525) 0%,
      rgba(0, 53, 102, 0.535) 100%
    ),
    url(./images/email.jpg);
  background-size: cover;
}
.service:nth-child(4):hover {
  background: linear-gradient(
      45deg,
      rgba(32, 89, 143, 0.525) 0%,
      rgba(0, 53, 102, 0.535) 100%
    ),
    url(./images/seo.jpg);
  background-size: cover;
}
.service:nth-child(5):hover {
  background: linear-gradient(
      45deg,
      rgba(32, 89, 143, 0.525) 0%,
      rgba(0, 53, 102, 0.535) 100%
    ),
    url(./images/branding.jpg);
  background-size: cover;
}
.service:nth-child(6):hover {
  background: linear-gradient(
      45deg,
      rgba(32, 89, 143, 0.525) 0%,
      rgba(0, 53, 102, 0.535) 100%
    ),
    url(./images/web.jpg);
  background-size: cover;
}
.service:nth-child(7):hover {
  background: linear-gradient(
      45deg,
      rgba(32, 89, 143, 0.525) 0%,
      rgba(0, 53, 102, 0.535) 100%
    ),
    url(./images/vid.jpg);
  background-size: cover;
}
/* footer */
footer {
  width: 100%;
  height: 300px;
  background-color: #003466;
}
footer img {
  width: 100px;
  height: auto;
}

.footer-list > li > a {
  margin: 10px 10px;
  color: white;
  font-size: 20px;
  /* font-weight: 600; */
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
  cursor: pointer;
}
.footer-list > li > a:hover {
  border-bottom: 2px solid white;
}
/* responsive mode */
@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
  }
}
@media (max-width: 1440px) {
  .cont-1 img {
    width: 726px;
    height: 467px;
  }
}
@media (max-width: 996px) {
  .cont-1 img {
    width: 80%;
    height: auto;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 100%;
  }
  .nav-list {
    position: absolute;
    right: -100%;
    top: 240%;
    width: 300px;
    padding: 50px 20px;
    background-color: #001466;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transition: all 0.55s ease;
  }
  .nav-list.open {
    right: 20px;
    /* cont  2 */
    /* .cont-2 p {
      font-size: 50px;
    } */
  }
}
@media (max-width: 576px) {
  .main-container {
    display: grid;
    grid-template-rows: 600px 400px 700px auto;
  }
  .cont-1 img {
    width: 90%;
    height: auto;
  }
}
